body {
  background-color: #1b203d;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}

.container div {
  border: 1px solid black;
}



#title_txt {
  font-family: "Lucida console", Arial, sans-serif;
  font-size: 1em;
  letter-spacing: 5px;
  line-height: 5px;
  color: white;
  text-align: center;
  text-transform: uppercase;
}

.contactUsInfobox,
.contactFormBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--pink);
  max-width: 70rem;
  margin-right: auto;
  margin-left: auto;
  border-radius: 30px;
  font-family: "Lucida console", Arial, sans-serif;
}


.contactUsInfobox {
  margin-bottom: 5rem;
}


.contactFormBox {
  margin-bottom: 5rem;
}



ul li {
  padding: 0.3em;
  position: center;
}

#contactUsInfo {
  display: block;
  color: white;
  list-style: none;
  font-family: "Lucida console", Arial, sans-serif;
  font-size: 3em;
  text-transform: uppercase;
  padding: 1.5em;
  text-align: left;
}

#box {
  position: relative;
  font-size: 25px;
  width: 400px;
  height: 50px;
}

#box_1 {
  position: relative;
  font-size: 25px;
  width: 150px;
  height: 150px;
}

#box_2 {
  font-size: 25px;
  width: 600px;
  height: 250px;
}

.btn {
  position: absolute;
  top: 800px;
  left: 475px;
}

#contactFormButton {
  max-width: 15ch;
  font-size: 2.5rem;
  margin: 3rem;
  background-color: var(--green);
  color: var(--white);
  font-size: 2rem;
  font-weight: bold;
  padding: 1.5rem 3rem;
  border: none;
  cursor: pointer;
  border-radius: 3rem;
  text-transform: uppercase;
  font-family: "Lucida_Console", Arial, sans-serif;
  transition: 0.5s transform ease-in-out;
  text-decoration: none;
}

#contactFormButton:hover {
  font-size: 2.6rem;
  max-width: 15ch;
}


#contactForm {
  font-family: "Lucida console", Arial, sans-serif;
  text-transform: uppercase;
  padding: 2rem;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  text-align: left;

}

input {
  min-width: 55rem;
  margin-top: 1rem;
  padding: 1em;
  font-size: 1.5rem;
}

#submitFormButton, #proceedToCheckout {
  font-size: 2.5rem;
  margin: 0.5rem;
  background-color: var(--green);
  color: var(--white);
  font-size: 2rem;
  font-weight: bold;
  padding: 1.5rem 3rem;
  border: none;
  cursor: pointer;
  border-radius: 3rem;
  text-transform: uppercase;
  font-family: "Lucida_Console", Arial, sans-serif;
  text-decoration: none;
}

#submitFormButton:hover, #contactFormButton:hover, #proceedToCheckout:hover {
  background-color: var(--white);
  color: var(--green);
  font-size: 2rem;
  width: fit-content;
  z-index: 100;
}

#proceedToCheckout, #proceedToCheckout:hover {
  font-size: 1.5rem;
}

#proceedToCheckout:hover {
  border-color: var(--green);
  border: solid 5px;
}

#proceedToCheckout {
  border-color: var(--white);
  border: solid 5px;
}

#orderSummaryTitle {
  font-size: 2rem;
}

